* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #568bf3;
    margin: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#createbtn {
    width: 100%;
    /* cursor: pointer; */
    padding: 10px 20px;
    background: #1877f2;
    color: white;
    border: 0;
    font-size: 17px;
    cursor: not-allowed;
}

.btn {
    cursor: pointer;
    padding: 10px 20px;
    background: #5cb85c;
    color: white;
    border: 0;
    font-size: 17px;
}

#toggleButtons{
    margin-left:105px
}

#video-grid{
    margin-left:96px
}

#leave-btn{
    background: rgb(233, 51, 51);
}

#leave-btn:hover{
    background: white;
    color: rgb(233, 51, 51);
    font-weight: bold;
}

/* Join Page */

.join-container {
    max-width: 500px;
    margin: 80px auto;
    color: #fff;
}

.join-header {
    text-align: center;
    padding: 20px;
    background: #1877f2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.join-main {
    padding: 30px 40px;
    background: #4267B2;
}

.join-main p {
    margin-bottom: 20px;
}

.join-main .form-control {
    margin-bottom: 20px;
}

.join-main label {
    display: block;
    margin-bottom: 5px;
}

.join-main input[type='text'],
.join-main input[type='email'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
    margin-bottom: 10px
}

.join-main select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main .btn {
    margin-top: 20px;
    width: 100%;
}

.join-main .btn:hover {
    color: #50db34;
    background-color: white;
    font-weight: bold;
}



/* Chat Page */

.chat-container {
    max-width: 1100px;
    background: #fff;
    margin: 30px auto;
    overflow: hidden;
}

.chat-header {
    background: #1877f2;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
    background: #4267B2;
    color: #fff;
    padding: 20px 20px 60px;
    overflow-y: scroll;
}

.chat-sidebar h2 {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
}

.chat-sidebar h3 {
    margin-bottom: 15px;
}

.chat-sidebar ul li {
    padding: 10px 0;
}

.chat-messages {
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(219, 218, 218);
    border-radius: 5px;
    overflow-wrap: break-word;
}

/* denotes the message sender */
.chat-messages .message .meta {
    font-size: 16px;
    font-weight: bold;
    color: #4267B2;
    opacity: 0.7;
    margin-bottom: 7px;
}

/* denotes the message time */
.chat-messages .message .meta span {
    color: #777;
}

.chat-form-container {
    padding: 20px 30px;
    background-color: #1877f2;
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
}

#chat-form .btn:hover{
    color: #50db34;
    background-color: white;
    font-weight: bold;
}


.sent_msg {
    float: right;
}

.recieved_msg {
    float: left;
}


#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:20px;
    padding:10px;
}


button {
    padding: 10px 20px;
    background-color: #50db34;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #297fb8;
}